@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playwrite+IE:wght@100..400&family=Shizuru&display=swap');
body {
    background-color: #252627;
    color:#fff9fb;
    font-family: "Jost", sans-serif;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
a {
    color:#fff9fb;
    text-decoration: none;
    font-size: 2rem;
}
